body {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #0259d8,
    #593590,
    #4f1d52,
    #301223,
    #000000
  );
}

h1 {
  font-size: 6rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0473;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 11% auto;
}

.game-over {
  background-color: red;
  opacity: 0.9;
}

.pressed {
  box-shadow: 0 3px 3px 0 #dbedf3;
  opacity: 0.4;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 9px solid #404b79;
  font-size: 6rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0464;
  text-shadow: 3px 0 #dbedf2;
  border-radius: 16px;
  display: inline-block;
  width: 151px;
  height: 151px;
  text-align: center;
  margin: 9px;
  background-color: white;
}
